.container{
    position: relative;
    background:antiquewhite; 
    height:100px; 
    border-style:dotted;
}
.box1{
    position: absolute; 
    top: 10px; 
    left: 20px; 
    background:white; 
    height:30px; 
    width:20%;
    border-style:dotted;
}
.box2{
    position: absolute; 
    top: 10px; 
    left: 1200px; 
    background:black; 
    height:30px;  
    width:20%;
    border-style:dotted; 
}